<%- include('../partials/header', {title: title, active: 'reservations'}) %>

  <div class="container">
    <div class="section">
      <h2>🎫 Reservaciones</h2>
      
      <a href="/reservations/view" class="btn btn-primary">Ver todas las reservaciones</a>
    </div>
  </div>

<%- include('../partials/footer') %>
